body {
  background: url("/bg.svg");
  background-size: contain;
  background-position: top center;
}


.man-home {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
}

.arrow-line-home {
  position: absolute;
  height: 85%;
  top: 50%;
  left: -30%;
  transform: translateY(-50%);
}