* {
  scroll-behavior: smooth;
}

body {
  background: url("/bg.svg");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  user-select: none;
}

.bg-home {
  background: url("/background-home.png"), #f9fcff;
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.man-home {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
}

.bg-hero-three {
  @media screen and (min-width: 1024px) {
    background: url("/bg-hero-three.svg"), #f9fcff;
    background-position: -15% top;
    background-size: 45%;
    background-repeat: no-repeat;
  }
}

.man-hero-three {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
}

.arrow-line-home {
  position: absolute;
  height: 75%;
  top: 50%;
  left: -30%;
  transform: translateY(-50%);
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 6px;
  width: 20%;
  border-radius: 12px;
  background: linear-gradient(45deg, #6401ff 0%, #fa00ff 50%, #ff3600 100%);
  width: 60px;
  height: 60px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

.studio-digital {
  opacity: 0.05;
  user-select: none;
}

.card-portfolio {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  transition: 1s ease-out;
  transform: perspective(900px) rotateX(6deg);
  box-shadow: 0 15px 30px #00000040;
  &:hover {
    background-position: bottom center;
    transition: 2s ease-out;
    transform: perspective(1000px) rotateX(0);
    box-shadow: 0 3px 5px #00000040;
  }
}

.journey-bg {
  background: url("/dots-bg.svg");
  background-attachment: fixed;
}

.journey-grid {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.journey-item {
  position: relative;
  width: 100%;
  cursor: grab;
  flex-shrink: inherit;
  &:active {
    cursor: grabbing;
  }
}

.vertex-tr {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 20px;
  width: 20px;
  border: 3px solid #9317ff;
}
.vertex-tl {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 20px;
  width: 20px;
  border: 3px solid #9317ff;
}
.vertex-br {
  position: absolute;
  bottom: -10px;
  right: -10px;
  height: 20px;
  width: 20px;
  border: 3px solid #9317ff;
}
.vertex-bl {
  position: absolute;
  bottom: -10px;
  left: -10px;
  height: 20px;
  width: 20px;
  border: 3px solid #9317ff;
}
