body {
  background: url("/bg.svg");
  background-size: 100%;
  background-position: top center;
  user-select: none;
}

.bg-home {
  background: url("/background-home.png"), #fff;
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.man-home {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
}

.arrow-line-home {
  position: absolute;
  height: 75%;
  top: 50%;
  left: -30%;
  transform: translateY(-50%);
}